Source: xrdp
Section: net
Priority: optional
Maintainer: Vincent Bernat <bernat@debian.org>
Uploaders: Andreas Tille <tille@debian.org>
Build-Depends: debhelper (>= 9), libssl-dev, libpam0g-dev,
	       autoconf (>= 2.59), automake (>= 1.6), libtool,
	       libx11-dev, libxfixes-dev, libfreerdp-dev, pkg-config
Standards-Version: 3.9.6
Homepage: http://xrdp.sourceforge.net
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/xrdp.git
Vcs-Git: git://anonscm.debian.org/collab-maint/xrdp.git

Package: xrdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: vnc4server | tightvncserver | vnc-server
Description: Remote Desktop Protocol (RDP) server
 Based on research work by the rdesktop project, xrdp uses the Remote
 Desktop Protocol to present a graphical login to a remote client.
 xrdp can connect to a VNC server or another RDP server.
 .
 Microsoft Windows users can connect to a system running xrdp without
 installing additional software.
