#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp


build: patch build-stamp

build-stamp: configure-stamp
	dh_testdir

	# Decode sans-10
	uudecode -o $(CURDIR)/xrdp/sans-10.fv1 $(CURDIR)/xrdp/sans-10.fv1.uue
	$(MAKE) DESTDIR=/usr/lib/xrdp RESOURCESDIR=/usr/share/xrdp

	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-rm $(CURDIR)/xrdp/sans-10.fv1

	$(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) installdeb DESTDIRDEB=$(CURDIR)/debian/xrdp
	mv $(CURDIR)/debian/xrdp/usr/lib/xrdp/xrdp $(CURDIR)/debian/xrdp/usr/bin
	mv $(CURDIR)/debian/xrdp/usr/lib/xrdp/sesman $(CURDIR)/debian/xrdp/usr/bin
	mv $(CURDIR)/debian/xrdp/usr/man $(CURDIR)/debian/xrdp/usr/share
	chmod -x $(CURDIR)/debian/xrdp/usr/share/xrdp/*
	chmod -x $(CURDIR)/debian/xrdp/etc/xrdp/*
	chmod -x $(CURDIR)/debian/xrdp/etc/pam.d/sesman
	rm $(CURDIR)/debian/xrdp/usr/share/man/man8/sesrun.8
	rm $(CURDIR)/debian/xrdp/etc/init.d/xrdp_control.sh
	rm $(CURDIR)/debian/xrdp/usr/lib/xrdp/startwm.sh
	install -m 755 $(CURDIR)/debian/startwm.sh $(CURDIR)/debian/xrdp/etc/xrdp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installpam
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
