#!/usr/bin/make -f

DEB_LDFLAGS_MAINT_APPEND=-Wl,--as-needed
DEB_BUILD_MAINT_OPTIONS=hardening=+all

DPKG_EXPORT_BUILDFLAGS:=1
include /usr/share/dpkg/default.mk

# this is precisely what dh_auto_configure does
CONFIGURE_ARGS:=	--build=${DEB_BUILD_GNU_TYPE} \
			--prefix=/usr \
			--includedir=\$${prefix}/include \
			--mandir=\$${prefix}/share/man \
			--infodir=\$${prefix}/share/info \
			--sysconfdir=/etc \
			--localstatedir=/var \
			--disable-silent-rules \
			--libdir=\$${prefix}/lib/${DEB_HOST_MULTIARCH} \
			--libexecdir=\$${prefix}/lib/${DEB_HOST_MULTIARCH} \
			--disable-maintainer-mode \
			--disable-dependency-tracking

ifneq (${DEB_BUILD_GNU_TYPE},${DEB_HOST_GNU_TYPE})
CONFIGURE_ARGS+=	--host=${DEB_HOST_GNU_TYPE}
endif

%:
	dh $@ --with systemd

override_dh_auto_configure:
	./bootstrap
	cd xorgxrdp && ./bootstrap
	./configure ${CONFIGURE_ARGS} \
	    --enable-ipv6 \
	    --enable-jpeg \
	    --enable-fuse \
	    --enable-opus
	cd xorgxrdp && ./configure ${CONFIGURE_ARGS}
	find . -name Makefile -print0 | \
	    xargs -0 perl -pi -e 's!XRDP_PID_PATH.*?/run!$$&/xrdp!g' --

override_dh_auto_install:
	dh_auto_install -v --destdir=debian/xrdp
	# this file scares me
	rm -f debian/xrdp/etc/xrdp/xrdp.sh
	rm -f debian/xrdp/etc/xrdp/startwm.sh
	# Policy
	find debian/xrdp/ -name \*.la -print0 | xargs -0 rm -f --
	find debian/xrdp/usr/lib/ -name \*.a -print0 | \
	    xargs -0 strip --strip-debug -R .comment --
	# package split
	mkdir -p debian/xorgxrdp/etc/X11/xrdp debian/xorgxrdp/usr/lib
	mv debian/xrdp/etc/X11/xrdp/xorg.conf debian/xorgxrdp/etc/X11/xrdp/
	mv debian/xrdp/usr/lib/xorg debian/xorgxrdp/usr/lib/

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade

override_dh_systemd_start:
	dh_systemd_start --no-restart-on-upgrade

override_dh_shlibdeps:
	# That's a plugin, use appropriate warning level:
	dh_shlibdeps -pxorgxrdp -- --warnings=6
	# Use default levels for everything else:
	dh_shlibdeps --remaining-packages

override_dh_gencontrol:
	echo "xdriver:Depends=$$( \
	    (cd /usr/share/xserver-xorg && cat videodrvdep xinputdep) | \
	    sed 's/, /\n/g' | sort -u | \
	    perl -0e 'print join(", ", split(/\n/, <>));')"
	dh_gencontrol

# We don’t provide a get-orig-source target because submodules
# don’t work with git-archive, and the manual checkout + find
# way doesn’t work well automatedly either.
# - $ git checkout upstream/devel
# - (check that the submodules are up-to-date)
# - $ cd ..
# - $ v='0.9.0~git'$(date +%Y%m%d) && find xrdp -type f -print0 | \
#     grep -Fvz -e /.git/ -e xorg/tests/xdemo/yosemite.bmp | sort -z | \
#     pax -w -0 -b 512 -M norm -s "!^xrdp/!xrdp-$v/!" -x ustar | \
#     xz -e >xrdp_$v+dfsg.orig.tar.xz
