[Unit]
Description=Remote Desktop Protocol (RDP) server - Session Manager
After=syslog.target network.target
StopWhenUnneeded=true
BindTo=xrdp.service

[Service]
Type=forking
PIDFile=/var/run/xrdp/xrdp-sesman.pid
EnvironmentFile=/etc/default/xrdp
ExecStart=/usr/sbin/xrdp-sesman $SESMAN_OPTIONS
ExecStop=/usr/sbin/xrdp-sesman $SESMAN_OPTIONS --kill

[Install]
WantedBy=multi-user.target
